Error: Could not register account error code=403

When i am trying to register account with example 'register_account.py' i am getting the following error.

DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0066: Out of Band Data
DEBUG    Loaded Plugin: XEP-0077: In-Band Registration
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying jitsi.iton.net for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for jitsi.iton.net.
DEBUG    DNS: Querying jitsi.iton.net for A records.
DEBUG    Connecting to 192.168.8.58:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='jitsi.iton.net' xmlns:stream='http://e
therx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream version="1.0" from="jitsi.iton.net" id="874220638"
 xml:lang="en">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><mechan
isms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mecha
nism>DIGEST-MD5</mechanism><mechanism>SCRAM-SHA-1</mechanism></mechanisms><c xml
ns="http://jabber.org/protocol/caps" node="http://www.process-one.net/en/ejabber
d/" ver="DksZ6FHJJWRiYER6w6zl0DGK7+Y=" hash="sha-1" /><register xmlns="http://ja
bber.org/features/iq-register" />/stream:features
DEBUG    SEND (IMMED): <iq type="get" id="8020be48-2954-4ddd-b290-5629087143b7-1
"><query xmlns="jabber:iq:register" /></iq>
DEBUG    RECV: <iq type="result" from="jitsi.iton.net" id="8020be48-2954-4ddd-b2
90-5629087143b7-1"><query xmlns="jabber:iq:register"><instructions>Choose a user
name and password to register with this server</instructions><username /><passwo
rd /></query></iq>
DEBUG    Event triggered: register
DEBUG    SEND (IMMED): <iq type="set" id="8020be48-2954-4ddd-b290-5629087143b7-2
"><query xmlns="jabber:iq:register"><username>mulagala</username><password>iton@
123</password></query></iq>
DEBUG    RECV: <iq type="error" from="jitsi.iton.net" id="8020be48-2954-4ddd-b29
0-5629087143b7-2"><query xmlns="jabber:iq:register"><username>mulagala</username

> <password>iton@123</password></query><error code="403" type="auth"><forbidden x
> mlns="urn:ietf:params:xml:ns:xmpp-stanzas" /></error></iq>
> ERROR    Could not register account:
> DEBUG    Event triggered: session_end
> DEBUG    SEND (IMMED): /stream:stream
> INFO     Waiting for /stream:stream from server
> DEBUG    End of stream recieved
> DEBUG    Waiting for 3 threads to exit.
> DEBUG    Threading deadlock prevention!
> DEBUG    Marked event_thread_0 thread as ended due to disconnect() call. 2 threa
> ds remain.
> DEBUG    Stopped send thread. 1 threads remain.
> DEBUG    Quitting Scheduler thread
> DEBUG    Stopped scheduler thread. 0 threads remain.
> DEBUG    Event triggered: disconnected
> DEBUG     ==== TRANSITION connected -> disconnected
> DEBUG    Channel binding not supported.
> DEBUG    Use Python 3.3+ for channel binding and SCRAM-SHA-1-PLUS support
> DEBUG    SEND (IMMED): <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism=
> "SCRAM-SHA-1">biwsbj1tdWxhZ2FsYSxyPTAxNTQwNzcyODU1MDY=</auth>
> DEBUG    Finished exiting event runner thread after early termination from disco
> nnect() call. 0 threads remain.
> DEBUG    State was not ready
> Done

What should i do..?


Wrong post sorry
